body{
    text-align: center;
}
#aboutMyImg{
    border-radius: 80%;
    height: 250px;
    width: 200px;
}
.container *{
     margin-top: 2%;
 }
 a{
     color: black;
     margin: 1%;
 }
 .card{
     margin: 1%;
 }
#aboutMyP{
    margin-left: 25%;
    margin-right: 25%
}




